<!DOCTYPE html>
<html>
  <head>
    <title>Video Game Rankings</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
        <h1 class="title is-size-1 mb-3">Video Game Rankings</h1>
        <div class="navbar">
          <div class="navbar-start">
            <div class="navbar-item"><%= link_to 'Home', home_path %></div>
            <div class="navbar-item"><%= link_to 'Publishers', publishers_path %></div>
            <div class="navbar-item"><%= link_to 'Genres', genres_path %></div>
            <div class="navbar-item"><%= link_to 'Video Games', video_game_titles_path %></div>
            <div class="navbar-item"><%= link_to 'About', about_path %></div>
          </div>
          <form>
          <div class="navbar-end">
              <input class="input navbar-item" type="text" placeholder="Search Video Game Title..."/>
              <input class="button is-primary" type="submit" value="Search">
          </div>
          </form>
        </div>
    </header>
    <%= yield %>
  </body>
</html>
