<!DOCTYPE html>
<html>
  <head>
    <title>Video Game Rankings</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
        <h1 class="title is-size-1">Video Game Rankings</h1>
        <nav>
          <ul>
            <li><%= link_to 'Publishers', publishers_path %></li>
            <li><%= link_to 'Genres', genres_path %></li>
          </ul>
        </nav>
    </header>
    <%= yield %>
  </body>
</html>
